#body
{
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#address,#map
{
    width: 35%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50px;
    box-shadow: 3px 3px 4px black,-3px -3px 4px black;
    font-size: 25px;
    background-color:  rgba(255, 192, 203, 0.515);
}